In [1]:
import pandas as pd
import numpy as np

In [3]:
# Orange soda market estimates (2025) in USD millions (proxy)
orange_soda_market = {
    "Region": ["North America", "Europe", "Asia Pacific", "Latin America", "Rest of World"],
    "Total_Orange_Soda_Sales_MUSD": [380.2, 326.0, 299.5, 86.4, 59.0]  # (millions) fictional composites
}

df_sales = pd.DataFrame(orange_soda_market)

# Fanta's reported dominant position in orange flavored drinks
# Assuming 0.50 share in each region as an example
df_sales["Fanta_Sales_MUSD"] = df_sales["Total_Orange_Soda_Sales_MUSD"] * 0.50

df_sales

          Region  Total_Orange_Soda_Sales_MUSD  Fanta_Sales_MUSD
0  North America                         380.2            190.10
1         Europe                         326.0            163.00
2   Asia Pacific                         299.5            149.75
3  Latin America                          86.4             43.20
4  Rest of World                          59.0             29.50

In [4]:
profit_scenarios = [0.20, 0.30, 0.40]

# Build DataFrame for projected profit
profit_df = pd.DataFrame({
    "Profit_Scenario": ["Low (20%)", "Medium (30%)", "High (40%)"],
    "Profit_Margin": profit_scenarios
})

# Add revenue totals
total_sales = df_sales["Fanta_Sales_MUSD"].sum()
profit_df["Estimated_Profit_MUSD"] = total_sales * profit_df["Profit_Margin"]

profit_df

  Profit_Scenario  Profit_Margin  Estimated_Profit_MUSD
0       Low (20%)            0.2                115.110
1    Medium (30%)            0.3                172.665
2      High (40%)            0.4                230.220

In [5]:
demographics = {
    "Age_Group": ["18-24", "25-34", "35-44", "45-54", "55+"],
    "Estimated_Preference_Share": [0.30, 0.25, 0.20, 0.15, 0.10]
}

df_demo = pd.DataFrame(demographics)

df_demo

  Age_Group  Estimated_Preference_Share
0     18-24                        0.30
1     25-34                        0.25
2     35-44                        0.20
3     45-54                        0.15
4       55+                        0.10

In [6]:
# Combine summary
summary = {
    "Total_Global_Orange_Soda_MUSD": [df_sales["Total_Orange_Soda_Sales_MUSD"].sum()],
    "Total_Fanta_Estimated_Sales_MUSD": [total_sales],
    "Median_Profit_Margin": [0.30]
}

df_summary = pd.DataFrame(summary)
df_summary

,Total_Global_Orange_Soda_MUSD,Total_Fanta_Estimated_Sales_MUSD,Median_Profit_Margin
0,1151.1,575.55,0.3